
.button {
  border-radius: .5rem;
  border: 0;
  font-size: 1.5rem;
  height: 4rem;
  line-height: 1.2rem;
  margin-right: 1rem;
  width: auto;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  color: black;
  background-color: transparent;
  padding-left: 1rem;
  padding-right: 1rem;
}

.button:hover {

  color: black;
  background-color: blue;
  border: 2px solid transparent;
}

.button--danger {
  color: white;
  border-color: red;
  background-color: red;
}

.button--confirm {
  color: white;
  border-color: green;
  background-color: green;
}

.button--danger:hover {
  color: white;
  background-color: rgb(218, 44, 44);
}

.button--confirm:hover {
  color: white;
  background-color: darkgreen;
}

.button:last-of-type {
  margin-right: 0;
}

.button:focus {
  outline: none;
}

.button:disabled {
  border-style: solid;
  border-color: white;
  color: white;
  background-color: transparent;
  opacity: 0.7;
}