nav {
  height: 2em;
  margin: 1em;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.navbar-logo {
  width: 4em;
  height: 4em;
}

#user {
  cursor: pointer;
}

#user:hover {
  color: rgb(55, 55, 190);
}
